
.App {
  padding-top: 36px;
  text-align: center;
  background-color: rgb(179, 178, 178);


}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item {
  margin-bottom: 26px;
  width: 28%;
}
